
html {
  font-size: 14px;
  -ms-text-size-adjust: 10%;
  -webkit-text-size-adjust: 10%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
    background-color: transparent;
}
input {
  display: none;
}
label,
ul {
  border: 0px solid #cecfd5;
  border-radius: 10px;
  
}
label {
  color: peachpuff;
  cursor:pointer;
  display: inline-block;
  font-size: 20px;
  padding: 10px 15px;
  transition: all .15s ease;
}
label:hover {
  color: #ff7b29;
}
input:checked + label {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: black;
    
}
nav {
  max-height: 0;
  overflow: hidden;
  transition: all .30s ease-in-out;

}
input:checked ~ nav {
  max-height: 500px;
}
ul {
  list-style: none;
  margin: 20px;
   height:auto;
    
}
li{
  border-bottom: 0px solid palegoldenrod;
  text-align: center;
  
}
li:last-child {
  border-bottom: 0;
  
}
a {
  color:saddlebrown;
  display:block
  padding: 100px 100px;
  text-decoration: none;
    font-size: 20px;
    }
a:hover {
  color: burlywood;
}

/* NEWLY ADDED CODES */

.new{
    font-size: 80px;
    letter-spacing: 10px;
    font-weight: 100px;
    font-family: helvetica nue  ;
    color: #E9E9E9;
    
}
.new .photo{
    
    line-height: 1.5;
}

h4{
    color:antiquewhite;
    letter-spacing: 3px;
    font-size:20px;
}
.photo{
    padding-top: 10px;
    width: 150px;
    height: 150px;
}
.line {
    width: 200px;
    color: peachpuff;
    display: block;
    height: 10px;
    border: 0;
    border-top: 3px solid;
    border-color: darkgoldenrod;
        
}

p, ul{
    font-size: 17px;
    letter-spacing: .5px;
}

.contain{
    width: 1200px;
    height: 500px;
}
.jumbotron{
    min-height: 30px;
    background-color: palegoldenrod;
}
.btn-discover{
    padding-left: 0px;
    padding-bottom:20px; 
    }

.line1 {
    margin-left:0px;
    padding-top: 20px;
    width: 1150px;
    color: peachpuff;
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid;
    border-color: peachpuff;
}
.navbar-header{
    float: left;
}


.ghost-button{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    text-align: center;
}

.ghost-button a{
    color: floralwhite ;
    text-decoration: none;
    letter-spacing: 10px;
    border: 5px sandybrown solid;
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 20px;
   
}

.ghost-button a:hover{
    color: floralwhite;
    border: 5px saddlebrown solid;
    font-weight: 500;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 20px 40px;
}  

/*animation*/

div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 80%;
    height: 1px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 35px;
    width: 200px;
    transform: translateY(-20px);
}

div.topBotomBordersOut a:after
{
    bottom: 10px;
    width: 200px;
    vertical-align: center;
    transform: translateY(20px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateX(70px);
}
/*end sng animation*/


.section {
  padding: 50px 0;
  position: relative;
  
}
.section .parallax {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: block;
  position: relative;
}

.section .responsive-background {
  position: relative;
  background-color: #c5a47e;
  padding: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
}

.filter:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3;
  content: "";
  opacity: .4;
  background: #333;
}

.navbar-default {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-transparent {
  padding-top: 15px;
  background-color: transparent;
  border-bottom: 1px solid transparent;
      border: 0;
}

.navbar-toggle {
  margin-top: 19px;
  margin-bottom: 19px;
  border: 0;
}

.navbar.navbar-fixed-top {
  transition: all .5s .1s;
}
.footer {
  background-color: #FFFFFF;
  line-height: 20px;
  overflow: hidden;
}

.footer hr {
  border-color: #DDDDDD;
}

.footer .title {
    margin-top:50px;
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
  letter-spacing: 2px;
    padding-left: 100px;
    letter-spacing: 2px;
    
}
.footer-color-black,
.footer-transparent {
  background-color: rgba(30, 30, 30, 0.97);
  color: #DDDDDD;
}

.footer-color-black hr,
{
  border-color: #444444;
}

.footer-color-black .title {
  color: #DDDDDD;
}

.footer-transparent {
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.footer hr {
  margin-bottom: 15px;
  margin-top: 15px;
}

.section-header{
  padding: 0;
}
.section-header .container{
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}
.section-header .content {
  position: relative;
  text-align: center;
  vertical-align: center;
  line-height: 1;
  position: relative;
  top: 40%;
  transform: translateY(-55%);
}

.section-header-small .parallax
.section-header-small .static-image{
  min-height: 50vh;
  height: auto;
}

.static-image img {
  width: 100%;
}

.section .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: absolute;
  display: block;
}

.section-contact-4 .parallax,
.section-our-services .parallax {
  height: 450px;
}


@media (min-width: 768px) {
  
  .section-header .separator {
    max-width: 15em;
  }
}
@media (min-width: 992px) {
 
 
}
@media (max-width: 992px) {
  .section-header {
    padding: 0 ;
  }
  .section-header .parallax, .section-header .static-image {
    height: 80vh;
  }
  .section-header .parallax:after, .section-header .static-image:after {
    height: 80vh;
  }
  .filter {
    min-height: 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) 
@media (max-width: 768px) {
  

  h2 {
    font-size: 1.625em;
    line-height: 1.15384615;
  }

  h3 {
    font-size: 1.em;
    line-height: 1.13636364;
  }

  h4 {
    line-height: 1.11111111;
  }

  .navbar-transparent {
    background-color: transparent;
  }

  .navbar-transparent .navbar-brand {
    color: #FFFFFF;
  }
}
body {
    background-color: transparent;
  position: relative;
}

.navbar-header {

  transform: translate3d(0px, 0, 0);
 
}
@media (min-width: 768px) {
  .navbar-form {
    margin-top: 21px;
    margin-bottom: 21px;
    padding-left: 5px;
    padding-right: 5px;
  }

/*          Changes for small display      */
@media (max-width: 767px) {
  .navbar-transparent {
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.45);
  }